<div class= "container-fluid">
  <div class= "row p-3">
    <div class="col-sm"> </div>
    <div class="col-sm-6">
      <div class="mx-auto">
        <h1>Lisboa </h1>
      </div>
      <div>
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> <!- div col ->
    <div class="col-sm"> </div>
    <div class="col-sm-4">
      <%= image_tag('Lisboa/Torre de Belem.jpg', style:"width:370px; height: 300px;") %>
    </div>
  </div> <!- row ->
  
  <div class="row mt-3 mb-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-3">
      <%= image_tag('Porto/20220318_132120.jpg', style:"width:250px; height: 400px;") %>
    </div>
    <div class="col-sm-8">
      <div>
        <h1>Porto</h1>   
      </div>
      <div>
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.  </p>
      </div>
    </div> <!- col ->
  </div> <!- row ->

  <div class= "row">
    <div class="col-sm"> </div>
    <div class="col-sm-6">
      <div>
        <h1>Coimbra</h1>
      </div>
      <div>
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> <!- div col ->
    <div class="col-sm"> </div>
    <div class="col-sm-4">
      <%= image_tag('Coimbra/Coimbra.jpg', style:"width:370px; height: 300px;") %>
    </div>
  </div> <!- row ->
 


</div><!- container-fluid ->
