<div class= "container-fluid">
  <!- ====  Aveiro ==== ->
  <div class= "row justify-content-around mt-3">
    <div class="col-10 titulo-cidade">
      <p>Aveiro</p>
    </div>
  </div> <!- row titulo ->
  <div class="rowi justify-content-center">
    <div class="subtitulo-cidade">
      <p>Conheça a Veneza portuguesa</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row justify-content-center">
    <div class="col-6">
      <%=  image_tag('Aveiro/OsCanais.jpg', class:"imagem-cidade img-fluid" )%>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-6">
      <div class="texto-descritivo">
        <p> Aveiro talvez ainda não figure no roteiro mais clássico de uma viagem a Portugal. E pode ser que você até mesmo nem tenha ouvido falar dela — o que chega a ser uma injustiça! A chamada Veneza Portuguesa é um charme, está próxima do Porto e de Coimbra e ainda mais perto do mar. Tem praias, construções que só se vê ali, ótimos restaurantes de frutos do mar e passeios bastante agradáveis. Em suma: Aveiro tem todo o necessário para dizermos que vale muito uma passada por lá.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/aveiro-portugal.html</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row justify-content-center">
    <div class="col-6 titulo-onde-visitar">
      <p>O que visitar em Aveiro</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Passeio pelos canais ->
  <div class="row justify-content-center mt-4">
    <div class="col-4 my-auto">
      <div class="titulo-lugar">
        <p>Passeio pelos canais</p>
      </div>
      <div class="texto-descritivo">
        <p>Não é à toa que Aveiro é também conhecida como Veneza Portuguesa. Assim como na cidade italiana, o centro histórico é cortado por alguns canais — não tantos quanto em Veneza, é verdade, mas o suficiente para dar um charme particular. Foram estes cursos de água que, ligando a Ria de Aveiro e o mar, garantiram que a cidade prosperasse.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/aveiro-portugal.html</p>
      </div>
    </div>
    <div class="col-5 my-auto">
      <%=  image_tag('Aveiro/OsMolineiros.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->

 <!- Lugar o centro histórico ->
  <div class="row justify-content-center mt-3">
    <div class="col-5 my-auto">
      <%=  image_tag('Aveiro/CentroHistorico.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-5 p-4">
      <div class="titulo-lugar">
        <p>O Centro Histórico</p>
      </div>
      <div class="texto-descritivo">
        <p>O centro histórico de Aveiro é colorido e pra lá de aconchegante. Um passeio à beira dos canais, com pausa para fotografias sobre as pontes e em frente às construções em estilo Art Nouveau, é um afago para os olhos e a alma. Para completar os momentos de tranquilidade que as férias pedem, visite o Mercado do Peixe e tome um café ou um sorvete nas proximidades da Praça 14 de Julho, um dos melhores pontos da cidade para se sentar e ver o movimento passar. Se preferir, participe de um free tour pelo centro de Aveiro — o passeio é grátis, ao final você decide com quanto deseja contribuir.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/aveiro-portugal.html</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Costa Nova ->
  <div class="row justify-content-center mt-4">
    <div class="col-4">
      <div class="titulo-lugar">
        <p>Costa Nova</p>
      </div>
      <div class="texto-descritivo">
        <p> Um dos cartões postais de Aveiro, Portugal, são as casinhas coloridas da Costa Nova, área mais praiana da cidade. Como conta a história, pescadores que moravam nesta região começaram a pintar suas residências para que fosse possível reconhecê-las de longe quando estivessem voltando de viagem do alto mar. Hoje algumas construções em madeira seguem sendo moradia; outras viraram restaurantes e estabelecimentos mais turísticos. Todas elas, no entanto, servem de cenário para fotos que têm tudo para bombar no seu Instagram.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/aveiro-portugal.html</p>
      </div>
    </div>
    <div class="col-5 my-auto">
      <%=  image_tag('Aveiro/CostaNova.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->


</div><!- container-fluid ->

